{
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "trailingComma": "none",
  "overrides": [
    {
      "files": "force-app/**/lwc/**/*.html",
      "options": {
        "parser": "lwc"
      }
    },
    {
      "files": "*.{cmp,component,page}",
      "options": {
        "parser": "html"
      }
    }
  ]
}
